body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; 
}


.texto {
    flex: 1; 
    padding: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    flex: 1; 
}
.foto img{
    width: 100%;
    height: 100%;
    display: block; /
}

.fotoCentral{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.fotoCentral img {
    width: 250px;
    height: 300px;
    display: block;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}
h2 {
    font-size: 26px;
    margin-top: 30px;
    font-weight: 600px;
}

p {
    font-size: 16px;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

li {
    font-size: 16px;
    line-height: 1.4;
}

