body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff; 
    background-image: url('Foto_Terra.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 5rem; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
}

.caixaLogin {
    background-color: #000000;
    padding: 40px;
    border-radius: 25px; 
    width: 100%;
    height: 320px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixaLogin h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    margin-bottom: 30px;
}

.input {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.input label {
    font-size: 17px;
}

.input input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #dddddd;
    transform: scale(1.05);
}

