
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('fotos/fundo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 30px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.barraPesquisa{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.barraPesquisa img {
    height: 50px;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 600px;
}

.usuario img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid rgb(187, 29, 180);
}

.destaque {
    display: flex;
    gap: 30px;
}

a{
    color: white;
    text-decoration: none;
}

.destaque_lado h2 {
    font-size: 40px;
    font-weight: 700px;
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
}

.info_destaque {
    display: flex;
    gap: 40px;
}

.poster_destaque {
    text-align: center;
}

.poster_destaque h3 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.poster_destaque img:hover{

    transform: scale(1.01);

}

.descricao_destaque {
    padding-top: 85px;
    max-width: 450px;
}

.descricao_destaque h4 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.descricao_destaque p {
    font-size: 20px;
    line-height: 15x;
    color: white;
}

.listaFilmes {
    margin-top: 50px;
}

.carrossel {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.seta {
    width: 25px;
    cursor: pointer;
}

.seta:hover {
    transform: scale(1.2);
}

.grade {
    display: flex;
    gap: 20px;
}


.card { 
    width: 200px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card img:hover {
    transform: scale(1.05);
}

.card p {
    font-size: 0.9rem;
    font-weight: 600;
}

.botoes button {
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    background-color: #8e44ad; 
}